* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar__all {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
}
.me-auto {
  margin-left: 100%;
}
.header_content {
  height: 70vh;
  background: url("./Components/Imgs/background.jpg") center/cover no-repeat;
  background-attachment: fixed;
}
.header__content-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
}
.header__content-left img {
  height: 80%;
  width: 60%;
  object-fit: cover;
}
.header__content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.header__content-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  background: transparent;
  transition: 0.3s;
  color: rgb(255, 0, 0);
  font-size: 20px;
  border-radius: 3px;
  border: 3px solid green;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.753);
}
.header__content-right button:hover {
  border: 3px solid red;
  color: green;
  background: rgba(0, 0, 0, 0.753);
  box-shadow: 2px 2px 4px rgba(187, 187, 187, 0.404);
}

.section__one{
  background: url('./Components/Imgs/main bg.jpg');
}

.section__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section__item{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 0px 10px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(31,65,71,1) 100%);
  color: white;
  border-radius: 10px;
  position: relative;
}
.question__icons{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  background: transparent;
}
.section_title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.section_title h2{ 
  color: white;
  text-transform: uppercase;
  text-align: center;
  display:inline-block;
  transition-property: transform;
  transition: 0.25s ease;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  text-transform: uppercase;
}

.section_title h2::after {
  content: '';
  border-top: 3px solid rgb(255, 0, 0);
  width: 100%;
  position: absolute;
  display: block;
  transform: rotateY(90deg);
  transition:transform 0.25s linear;
}
.section_title h2:hover {
  transform: scale(1);
}
.section_title h2:hover::after {
  transform: rotate(0deg);
}

.section_other-item{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 0px 10px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(31,65,71,1) 100%);
  color: white;
  border-radius: 10px;
  margin-top: 40px;
}
.section__button{
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  margin-top: 40px;
  padding: 10px;
  background: transparent;
  border: 3px solid red;
  font-size: 18px;
  margin-bottom: 60px;
  border-radius: 5px;
}
.section__button a{
  text-decoration: none;
  color: red;
  font-weight: 700;
}
.section__button a:hover{
  text-decoration: none;
  color: red;
  font-weight: 700;
}
/* .section__button:hover{
  border: 3px solid green;
  transform: scale(1.03);
} */

.section__button:hover {
  box-shadow: inset 400px 0 0 0 green;
  color: white;
}
.parent_btn{
  display: flex; 
  align-items: center;
  justify-content: center;
}

.section__three{
  background: url('./Components/Imgs/main bg.jpg');
  paddingbottom: 60px;
}