* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar__all {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
}
.me-auto {
  margin-left: 100%;
}
.header_content {
  height: 90vh;
  background: url("./Components/Imgs/bg/bgimg1.jpg") center/cover no-repeat;
  background-attachment: fixed;
}
.header__content-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
}
.header__content-left img {
  height: 800px;
  width: 60%;
  object-fit: cover;
}
.header__content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.header__content-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  background: transparent;
  transition: 0.3s;
  color: rgb(255, 0, 0);
  font-size: 20px;
  border-radius: 3px;
  border: 3px solid green;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.753);
}
.header__content-right button:hover {
  border: 3px solid red;
  color: green;
  background: rgba(0, 0, 0, 0.753);
  box-shadow: 2px 2px 4px rgba(187, 187, 187, 0.404);
}

/* .section__one{
  background: url('./Components/Imgs/main bg.jpg');
} */

.section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section__item {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 0px 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(31, 65, 71, 1) 100%
  );
  color: white;
  border-radius: 10px;
  position: relative;
}
.question__icons {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  background: transparent;
}
.section_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.section_title h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  transition-property: transform;
  transition: 0.25s ease;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  text-transform: uppercase;
}

.section_title h2::after {
  content: "";
  border-top: 3px solid rgb(255, 0, 0);
  width: 100%;
  position: absolute;
  display: block;
  transform: rotateY(90deg);
  transition: transform 0.25s linear;
}
.section_title h2:hover {
  transform: scale(1);
}
.section_title h2:hover::after {
  transform: rotate(0deg);
}

.section_other-item {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 0px 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(31, 65, 71, 1) 100%
  );
  color: white;
  border-radius: 10px;
  margin-top: 40px;
}
.section__button {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 40px;
  padding: 10px;
  background: transparent;
  border: 3px solid red;
  font-size: 18px;
  margin-bottom: 60px;
  border-radius: 5px;
}
.section__button a {
  text-decoration: none;
  color: red;
  font-weight: 700;
}
.section__button a:hover {
  text-decoration: none;
  color: red;
  font-weight: 700;
}
/* .section__button:hover{
  border: 3px solid green;
  transform: scale(1.03);
} */

.section__button:hover {
  box-shadow: inset 400px 0 0 0 green;
  color: white;
}
.parent_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background: url("./Components/Imgs/main bg.jpg");
  padding-bottom: 60px;
}

.section_four__item {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin: 0;
  margin: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(31, 65, 71, 1) 100%
  );
  color: white;
  border-radius: 10px;
  height: min-content;
}

.flip-card {
  perspective: 1000px;
  height: 170px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(31, 65, 71, 1) 100%
  );
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background: rgb(31, 65, 71);
  background: linear-gradient(
    90deg,
    rgba(31, 65, 71, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 10px;
}
.flip-card-back p {
  font-size: 14px;
}

.accordion-item {
  background: rgb(31, 65, 71);
  background: linear-gradient(
    90deg,
    rgba(31, 65, 71, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white ;
}
.accordion_list li{
  list-style: none;
}
.acc_resultat span{
  color: goldenrod;
}
.accordion-button:not(.collapsed) {
  color: goldenrod !important;
  background-color: #123 !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button{
  background: #123 !important ;
  color: goldenrod !important;
}

.accordion-button:not(.collapsed)::after {
  color: red !important;
}